{% extends "base.html" %}

{% block content %}
    <h2>Ваши заметки</h2>
    <a href="{% url 'note_create' %}">Создать новую заметку</a>
    <ul>
        {% for note in notes %}
            <li>
                <strong>{{ note.title }}</strong> - {{ note.created_at }}
                <br>
                <a href="{% url 'note_update' note.pk %}">Редактировать</a> |
                <a href="{% url 'note_delete' note.pk %}">Удалить</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}